<ion-view title="contact us" id="page6">
    <ion-content padding="true" style="background: url(img/U2TUZQfaRvKTMENcq8AL_contactus.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div>
            <img src="img/HGbAn0iHS4mYPdgX5c7r_beso.jpg" width="41%" height="auto" style="display:block;">
        </div>
        <div id="contactUs-markdown3" style="color:#D60E0E;">
            <p>Bassem mohamed 28- GRand scrum master of all DEVELOPER</p>
        </div>
        <div>
            <a href="www.egyptair.com">VISIT OUR SITE</a>


        </div>
        <div>
            <img src="img/xpkUreSNRpKQnvgPxrK5_hany.jpg" width="53%" height="auto" style="display:block;">
        </div>
        <div id="contactUs-markdown4" style="color:#DD1313;">
            <p>AHMED HANY ATTACK</p>
        </div>
        <a href="#" onclick="window.open('http://52.39.81.38/', '_system', 'location=yes'); return false;" id="contactUs-button8" style="font-style:italic;" class="button button-positive  button-block">GO TO OUR AWSEOME WEBSITE</a>
    </ion-content>
</ion-view>