<ion-view title="Our services" id="page16">
    <ion-content padding="true" style="background: url(img/6wOZInEbRZaML1jeoFIj_test4.png) no-repeat center;background-size:cover;" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.trackAFlight">
                <img src="img/x5NUmh4hQ1abARycel5v_dodo.jpg">
                <h2>track a flight</h2>
                <p>best of the best</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 50px;"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.viewFlights">
                <img src="img/H7WqNe7SU2kTWAiPH1MW_test3.jpg">
                <h2>view flights</h2>
                <p>book flights</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 38px;"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.contactUs">
                <img src="img/e1Bkf4BQp252g3fB0K41_contactus.jpg">
                <h2>Contact us</h2>
                <p>contains team info</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>