<ion-view title="track A flight" id="page7">
    <ion-content padding="true" style="background: url(img/QmwNTHaeQ3aypBXkKnEi_ne1.jpg) no-repeat center;background-size:cover;" class="has-header">
        <h1 id="trackAFlight-heading3" style="color:#180303;">Heading</h1>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">flight number</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <h1 id="trackAFlight-heading4" style="color:#000000;">from</h1>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">from</span><textarea placeholder=""> </textarea>
            </label>
            <h1 id="trackAFlight-heading5" style="color:#000000;">to</h1>
            <label class="item item-input">
                <span class="input-label">To</span><textarea placeholder=""> </textarea>
            </label>
        </form>
    </ion-content>
</ion-view>