<ion-view title="view flights" id="page5">
    <ion-content padding="true" style="background: url(img/tsPGscueQbezXPv6xN7s_test3.jpg) no-repeat center;background-size:cover;" class="has-header">
        <h4 id="viewFlights-heading2" style="color:#D8B5B5;font-weight:600;font-style:italic;">select flight</h4>
        <form class="list">
            <label class="item item-select" name="airclass">
                <span class="input-label">Select class</span>
                <select>
                    <option>business</option>
                    <option>economy</option>
                </select>
            </label>
            <div class="spacer" style="width: 285px; height: 20px;"></div>
            <label class="item item-select" name="fromair">
                <span class="input-label">from</span>
                <select>
                    <option>Paris</option>
                    <option>Cairo</option>
                    <option>London</option>
                    <option>las vegas</option>
                    <option>New york</option>
                    <option>hong kong</option>
                    <option>Jeddah</option>
                </select>
            </label>
            <div class="spacer" style="width: 285px; height: 20px;"></div>
            <label class="item item-select" name="toair">
                <span class="input-label">to</span>
                <select>
                    <option>Hong kong</option>
                    <option>New york</option>
                    <option>Paris</option>
                    <option>Cairo</option>
                    <option>Berlin</option>
                    <option>Las vegas</option>
                    <option>Jeddah</option>
                </select>
            </label>
            <div class="spacer" style="width: 285px; height: 21px;"></div>
            <ion-checkbox name="Trip">Rounded trip</ion-checkbox>
            <div class="spacer" style="width: 285px; height: 23px;"></div>
            <label class="item item-input">
                <span class="input-label">Text</span><textarea placeholder=""> </textarea>
            </label>
            <button id="viewFlights-button5" class="button button-positive  button-block icon-left ion-android-search">search</button>
            <ion-item class="item-thumbnail-left">
                <img src="img/Bt06GOTQRniamXF3GfYq_t3.jpg">
                <h2>New york</h2>
                <p>flight to new york 20 euro</p>
            </ion-item>
            <div class="spacer" style="width: 285px; height: 20px;"></div>
            <ion-item class="item-thumbnail-left">
                <img src="img/uuxRWWQTOeHgenmloWbO_t1.jpg">
                <h2>Flight cairo to tyran</h2>
                <p>1250 saudi</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>