<head>
<link rel="stylesheet" href="public/css/style.css">
</head>

<body>
<div id="confirm" ng-controller="confirmController">
<h2> Confrim your ticket reservation. </h2>
<div id="flight-details">

<p> Flight Details:- </p> <br>

<div style="display: inline;">
<ul>
<li> From {{originid}} To {{destinationid}} </li>
<li> Departure time {{departuredate}} Arrival time {{arrivaldate}} </li> <br>
</ul>
</div>

</div>

<div style="margin-left: 15%;">
<div id="col1"  class="roundcont" style="width:40%;">

	<p> Personal Details:- </p> <br>

	<div style="display: inline;">
		<ul>
			<li>
				<form name="myForm" action="demo_form.asp" onsubmit="return validateForm()" method="post">
					First Name:   <br><input type="text" name="firstname" > </input><br>
				</form></li>
			<li>
				<form name="myForm" action="demo_form.asp" onsubmit="return validateForm()" method="post">
					 Last Name:    <br><input type="text" name="lastname"> </input><br>
				 </form></li>
			<li>
				<form name="myForm" action="demo_form.asp" onsubmit="return validateForm()" method="post">
					Passport ID:  <br><input type="text" name="passportid"> </input><br>
				</form> </li>
			<li>
				<form name="myForm" action="demo_form.asp" onsubmit="return validateForm()" method="post">
					Issue Date:   <br><input type="text" name="issuedate"> </input><br>
				</form></li>
			<li>
				Expiry Date:  <br><input type="text" name="expirydate"> </input><br>
			</form></li>
		</ul>
	</div>

</div>
<div id="col1" class="roundcont" style="width: 40%;">

	<p> Payment Details:- </p> <br>

	Payment Method: <input type="text" name="paymentmethod"></input> <br><br>
	<button>Confirm</button> <br>

</div>
</div>
</body>
