<!DOCTYPE html>
<div id="flight" ng-controller="flightController">

<h2  style="font-size: 20px; text-align: center; "> Flight </h2>

<table>
<tr>
<td>
	<div style="font-size: 20px; text-align: left; margin-bottom: 80px">    From:
		<label  name ="from" style="margin-right: 400px;"for=""></label> </div>
</td>
<td>
	<div style="font-size: 20px; text-align: right; margin-bottom: 80px">    to:
		<label  name ="to" style="margin-right: 400px;"for=""></label> </div>
</td>
</tr>
</table>

<h1></h1>

<table>
<tr>
<td>
	<div style="font-size: 20px; text-align: left; margin-bottom: 80px">    Departure Time:
		<label  name ="departure" style="margin-right: 400px;"for=""></label> </div>
</td>
<td>
	<div style="font-size: 20px; text-align: right; margin-bottom: 80px">    Arrival Time :
		<label  name ="arrival" style="margin-right: 400px;"for=""></label> </div>
</td>
</tr>
</table>


<table>
<tr>
<td>
	<div style="font-size: 20px; text-align: left; margin-bottom: 80px">    Airplane Model :
		<label  name ="model" style="margin-left: 400px;" for=""></label> </div>
</td>
<td>
	<div style="font-size: 20px; text-align: right; margin-bottom: 80px">    Capacity :
		<label  name ="capacity" style="margin-right: 400px;"for=""></label> <p></p>
			<div style="font-size: 20px; text-align: right; margin-bottom: 80px">    Duration :
				<label  name ="duration" style="margin-right: 400px;"for=""></label>

		</div>
</td>
</tr>
</table>

<p>

</p>

<div class="" style="font-size: 20px; text-align: center; margin-bottom: 80px">     Seat Map

</div>
</div>
