<div id="home" ng-controller="homeController">
<article>
		<h1> The Company's History</h1>
		<p style="font-size: 20px ">
		Alan Muntz, chairman of Airwork, visited Egypt in 1931; at that time, he expressed his intention of starting up a new airline in the country. The new enterprise was named Misr Airwork, with ″Misr″ being the Egyptian for Egypt. On 31 December 1931, the government granted the new company the exclusivity of air transport operations.[6] A division of Misr Airwork named Misr Airlines was established on 7 June 1932[6] ″to promote the spirit of aviation among Egyptian youth″.[7] The headquarters of Misr Airwork, S.A.E. was in Almaza Aerodrome, Heliopolis, Cairo.[8]

		</p>
</article>
</div>