<!doctype html>
<html ng-app="myApp" >


<body>
<div id="viewflights" ng-controller="flightsController" >


	<div>

	<h1 s > View Flights </h1>

	<!--div for all except search-->

	<!--div for 1st row left-->
	
	Class :	
	<select name="classes">
  				<option value="VIP">VIP</option>
  				<option value="First Class" style="color: black">First Class</option>
  				<option value="Business" style="color: black">Business</option>
  				<option value="Economy" style="color: black">Economy</option>
	</select>
	<br>
	<br>


	<!--div for 2nd row left-->

	
	
	<div class="line">
		<label for="from">From: </label>
			<select name="destinations">
				<option value="cairo">Cairo</option>
 				<option value="berlin">Berlin</option>
 				<option value="kuala">Kuala Lumpur</option>
 				<option value="la">Los Angeles</option>
				<option value="paris">Paris</option>
				<option value="london">London</option>
			</select>
		<label for="to" style="margin-left: 200px;">To: </label>
			<select name="destinations">
				<option value="cairo">Cairo</option>
				<option value="berlin">Berlin</option>
				<option value="kuala">Kuala Lumpur</option>
				<option value="la">Los Angeles</option>
				<option value="paris">Paris</option>
				<option value="london">London</option>
			</select>
	</div>


	<br>
	<form action="">
	Rounded Flight	<input class="round_flight" type="checkbox" name="round_flight" ng-model="checked" aria-label="Toggle ngHide" value="1" /><br>	 
	</form>

	<div class="line">
	<div class="Date of Departure:">
       <label for="Date of Departure:">Date of departure:</label>	
       <input type="text" name="Date of Departure:"id="datepicker" style="width: 100px"/>
   </div>	
	<div class="Date_of_Arrival" ng-show="checked">
       <label for="Date_of_Arrival" style="margin-left: 200px">Date of Arrival:</label>
       <input type="text" name="Date_of_Arrival" id="datepicker" style="width: 100px"/>
   </div>
   </div>

   <br>
   <br>


   <div class="line submit" style="">
        <a href="#flight"><input  type="submit" value="Search" style="color: black; width:100px;  margin-left: 750px" /></a>
   </div>	
	
		


	</div>

	
</div>
</body>
</html>